// *************************************
//
//   Layout
//
// *************************************

// -------------------------------------
//   Wrapper
// -------------------------------------

.wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}


// -------------------------------------
//   Container
// -------------------------------------

.container {
  position: relative;
  display: block;
  width: $size-container;
  height: 100%;
  margin: 0 auto;
}


// -------------------------------------
//   Header
// -------------------------------------

.header {

}


// -------------------------------------
//   Footer
// -------------------------------------

.footer {

}


// -------------------------------------
//   Main
// -------------------------------------

.main-container {

}
